.containerBelow{
    position: relative;
    text-align: center;
    vertical-align: bottom;
    bottom: -90%;
}

.containerAbove{
    position: relative;
    text-align: center;
    vertical-align: bottom;
}
.code{
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}
.logoBoi{
    position: absolute;
    z-index: 100;
    display: block;
    width: 75px;
    height: 75px;
    background-image: url(/images/logo1.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 0;
}

.buttonWrapper{
    position: relative;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
}

.button {
    background-color: lightgreen;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
}

.buttonSend {
    background-color: lightgreen;
    font-size: 24px;   
}

.buttonReset {
    font-size: 24px;
    width: 150%;
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonHost{
    /* position: absolute; */
    /* top: 75%;  */
    width: 35%;
}

.buttonJoin{
    background-color: lightgreen;
    /* position: absolute; */
    /* top: 50%; */
    width: 35%;
}

.waitingPage{
    height:100%;
    z-index: 1;
    /* REMOVE WHEN READY TO USE WAITING PAGE */
    visibility: hidden;
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: coral;

    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }

html,
	body {
        background-color:  whitesmoke;
        background-image: url(/images/SoSmooth.jpg);
        background-position: center;
        background-repeat: repeat;
        background-size: 50%;
		margin: 0;
		overflow: hidden;
        height: 100%;
        z-index: -1;
    }
    
    input {
        width: 20%;
    }
	
	/* Scale canvas with resize attribute to full size */
	canvas[resize] {
        background-color: white;
		width: 85%;
		height: 75%;
		border: 1px solid black;
		padding: 0;
    	margin: auto;
  		display: block;
    	position: relative;
    	top: 0;
    	bottom: 0;
    	left: 0;
    	right: 0;
	}